<div class="col-md-12">
    <div>
        <button class="btn btn-warning float-end fw-bold" (click)="showList()"><i class="fa fa-list"></i> Show List</button>
        <button class="btn btn-warning float-end fw-bold mr-3" (click)="addType()"><i class="fa fa-plus"></i> Add Product Type</button><br><br>
        <h3 class="text-center fw-bold" *ngIf="displayAddType">Add Product Type</h3>
        <h3 class="text-center fw-bold" *ngIf="displayList">All Product Types</h3>
    </div>
</div>

<form #product_type_form="ngForm" (ngSubmit)="add_Product_Type(product_type_form)" *ngIf="displayAddType">
    <div class="container-fluid p-4 bg-light">
        <div class="row justify-content-center">
            <p>Add Product</p>
            <div class="col-md-6">
                Enter Type
                <input type="text" name="product_type_name" class="form-control" ngModel>
            </div>
            <div class="col-md-2 mb-3">
                <br>
                <button type="button" class="btn btn-primary" (click)="add_Product_Type(product_type_form)">Add Product
                    Type</button>
            </div>
        </div>
    </div>
</form>
<br>


<div class="container-fluid bg-white p-4" *ngIf="displayList">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered text-center" *ngIf="types.length > 0;">
                <tr>
                    <th>SrNo.</th>
                    <th>Type</th>
                    <th>ACTION</th>
                </tr>
                <tr *ngFor="let type of types let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ type.product_type_name }}</td>
                    <td>
                        <div class="col-md-12">
                            <button class="mr-1 btn btn-warning"
                                (click)="getSingleProduct_type(type.product_type_id)">EDIT</button>

                            <button class="ml-1 btn btn-danger"
                                (click)="deleteProductType(type.product_type_id)">DELETE</button>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="col-md-12" *ngIf="displayUpdate">
    <div>
        <form #update_product_type="ngForm" (ngSubmit)="updateType(update_product_type)">
            <div class="container-fluid p-4 bg-light">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h3 class="text-center fw-bold">Update Product Type</h3>
                    </div>
                    <div class="col-md-6">
                        <label for="product_type_name">Enter Type</label>
                        <input type="text" name="product_type_name" class="form-control" ngModel
                            [value]="singleProduct_type" placeholder="Enter product type name" required />
                    </div>
                    <div class="col-md-2 mb-3">
                        <br />
                        <button type="submit" class="btn btn-primary">Update Product Type</button>
                        <button type="button" class="btn btn-primary m-1" (click)="changeDisplay()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
