<!-- <body class="bg-white">
    <hr>
    <footer class="footer-section text-white pt-5 pb-5">
        <div class="wave-bg">
            <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
                <path d="M0,0 C300,100 900,0 1200,100 L1200,0 L0,0 Z" class="wave"></path>
            </svg>
        </div>

        <div class="container footer-content position-relative z-1">
            <div class="row gy-4">
                <div class="col-md-4 text-center text-lg-start">
                    <img src="/images/logo.png" class="footer-logo mb-3" alt="Logo" style="height: 100px;" />
                    <p class="text-light-50">Manage your furniture business with powerful admin Control features and
                        stunning
                        UI.</p>
                    <div class="social-icons mt-3">
                        <a href="https://github.com/YugandharSuryawanshi" target="_blank"><i
                                class="fab fa-github"></i></a>
                        <a routerLink="" title="Coming Soon"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/yugandhar_marathe/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/yugandhar-suryawanshi-028311228/" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h4 class="fw-bold">Quick Links</h4>
                            <ul class="list-unstyled">
                                <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                                <li><a routerLink="/admin/product_list">Products</a></li>
                                <li><a routerLink="/admin/product_type">Product Types</a></li>
                                <li><a routerLink="/admin/orders">Orders</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4 class="fw-bold">Quick Links</h4>
                            <ul class="list-unstyled">
                                <li><a routerLink="/admin/testimonials">Testimonials</a></li>
                                <li><a routerLink="/admin/subscriber">Manage Subscribers</a></li>
                                <li><a routerLink="/admin/manage-wishlist">Manage Wishlist</a></li>
                                <li><a routerLink="/admin/our_team">Our Team</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4 class="fw-bold">Support</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Guides</a></li>
                                <li><a href="#">API Docs</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>

            <hr class="bg-white opacity-50 mt-4" />

            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center pb-3">
                <p class="mb-0">&copy; 2025 Furni Admin. Designed by
                    <a href="https://github.com/YugandharSuryawanshi" target="_blank">
                        <span class="footer-designer">
                            Yugandhar Suryawanshi.
                        </span>
                    </a>
                    🪑
                </p>
                <div>
                    <a href="#" class="footer-link me-3">Privacy Policy</a>
                    <a href="#" class="footer-link">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>

</body> -->