<div class="container-fluid bg-white p-4" *ngIf="display">
    <div class="row">
        <div class="col-md-12 text-center mb-3">
            <h3 class="d-inline-block fw-bold">
                All Product List
            </h3>
            <form (submit)="searchProducts()" class="float-end d-flex align-items-center">
                <input type="text" [(ngModel)]="searchStr" class="form-control w-75 me-2"
                    placeholder="Search products..." style="height: 35px;" name="search" (keyup)="searchProducts()" />
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <button class="float-end mr-3 mt-1 btn btn-warning fw-bold" routerLink="/admin/product"><i
                    class="fa fa-plus"></i> ADD New</button>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle text-center animated-table">
                    <thead class="table-dark">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Product Type</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Size</th>
                            <th>Product Color</th>
                            <th>Product Label</th>
                            <th class="col-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index" class="animated-row">
                            <td>{{ i + 1 }}</td>
                            <td>{{ product.product_type_name }}</td>
                            <td>{{ product.product_name }}</td>
                            <td>&#8377; {{ product.product_price }}</td>
                            <td>{{ product.product_size }}</td>
                            <td>
                                <div [ngStyle]="{ 'height': '30px', 'width': '100%', 'background-color': product.product_color }">
                                </div>
                            </td>
                            <td>{{ product.product_lable }}</td>
                            <td>
                                <a (click)="get_This_Product(product.product_id)">
                                    <button class="btn btn-warning btn-sm m-1 btn-hover">
                                        <i class="fa fa-pencil text-white"></i>
                                    </button>
                                </a>
                                <a (click)="deleteProduct(product.product_id)">
                                    <button class="btn btn-danger btn-sm m-1 btn-hover">
                                        <i class="fa fa-trash text-white"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 bg-light" *ngIf="displayUpdateForm">
    <h2 class="text-center fw-bold">Update Product Details</h2>
    <form (ngSubmit)="updateProduct()">
        <div class="container-fluid p-4 bg-light">
            <div class="row">
                <!-- Product Type -->
                <div class="col-md-3 mb-3">
                    <label for="productType">Select Type</label>
                    <select name="product_type_id" class="form-control" required
                        [(ngModel)]="formData.product_type_id">
                        <option value="" disabled>Select Type</option>
                        <option *ngFor="let type of productTypes" [value]="type.product_type_id">
                            {{ type.product_type_name }}
                        </option>
                    </select>
                </div>

                <!-- Product Name -->
                <div class="col-md-3 mb-3">
                    <label for="productName">Product Name</label>
                    <input type="text" name="product_name" [(ngModel)]="formData.product_name"
                        class="form-control" required />
                </div>

                <!-- Product Price -->
                <div class="col-md-3 mb-3">
                    <label for="productPrice">Product Price</label>
                    <input type="number" name="product_price" [(ngModel)]="formData.product_price"
                        class="form-control" required />
                </div>

                <!-- Duplicate Price -->
                <div class="col-md-3 mb-3">
                    <label for="duplicatePrice">Duplicate Price</label>
                    <input type="number" name="duplicate_price" [(ngModel)]="formData.duplicate_price"
                        class="form-control" required />
                </div>

                <!-- Product Images -->
                <div class="col-md-3 mb-3">
                    <label for="productImages">Product Images</label>
                    <input type="file" multiple name="product_images" class="form-control"
                        (change)="onImageSelect($event)" />
                </div>

                <!-- Product Size -->
                <div class="col-md-3 mb-3">
                    <label for="productSize">Product Size</label>
                    <input type="text" name="product_size" [(ngModel)]="formData.product_size"
                        class="form-control" required />
                </div>

                <!-- Product Color -->
                <div class="col-md-3 mb-3">
                    <label for="productColor">Product Color</label>
                    <input type="color" name="product_color" class="form-control"
                        [(ngModel)]="formData.product_color" />
                </div>

                <!-- Product Label -->
                <div class="col-md-3 mb-3">
                    <label for="productLabel">Product Label</label>
                    <input type="text" name="product_lable" [(ngModel)]="formData.product_lable"
                        class="form-control" required />
                </div>

                <!-- Product Details -->
                <div class="col-md-12 mb-3">
                    <label for="productDetails">Product Details</label>
                    <textarea name="product_details" [(ngModel)]="formData.product_details" class="form-control"
                        required></textarea>
                </div>

                <div class="col-md-12 mb-1">
                    <h6 class="text-center fw-bold" style="color: black; letter-spacing: 4px; font-size: 18px;">*Additional Information*</h6>
                </div>
    
                <div class="col-md-3 mb-3">
                    <label for="product_brand">Product Brand</label>
                    <input type="text" name="product_brand" class="form-control" [(ngModel)]="formData.product_brand" required  />
                </div>
    
                <div class="col-md-3 mb-3">
                    <label for="product_weight">Product Weight <span style="font-size: 11px;">(mention like G , Kg)</span> </label>
                    <input type="text" name="product_weight" class="form-control" [(ngModel)]="formData.product_weight" required  />
                </div>
    
                <div class="col-md-3 mb-3">
                    <label for="product_pattern">Product Pattern</label>
                    <input type="text" name="product_pattern" class="form-control" [(ngModel)]="formData.product_pattern" required  />
                </div>
    
                <div class="col-md-3 mb-3">
                    <label for="no_of_pieces">Product No of Pieces</label>
                    <input type="number" name="no_of_pieces" class="form-control" [(ngModel)]="formData.no_of_pieces" required  />
                </div>
    
                <div class="col-md-2 mb-3">
                    <label for="product_origin">Product Origin</label>
                    <select name="product_origin" class="form-control" [(ngModel)]="formData.product_origin" required>
                        <option value="" disabled>Select Origin</option>
                        <option value="India">India</option>
                        <option value="United States">United States</option>
                        <option value="Canada">Canada</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Australia">Australia</option>
                        <option value="Germany">Germany</option>
                        <option value="France">France</option>
                        <option value="Japan">Japan</option>
                        <option value="China">China</option>
                        <option value="Brazil">Brazil</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Italy">Italy</option>
                        <option value="Spain">Spain</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Russia">Russia</option>
                    </select>
                </div>
                
    
                <div class="col-md-3 mb-3">
                    <label for="product_material">Product Material</label>
                    <input type="text" name="product_material" class="form-control" [(ngModel)]="formData.product_material" required  />
                </div>
    
                <div class="col-md-3 mb-3">
                    <label for="product_warranty">Product Warranty <span style="font-size: 11px;">(mention in Months , Year)</span></label>
                    <input type="text" name="product_warranty" class="form-control" [(ngModel)]="formData.product_warranty" required  />
                </div>
    
                <div class="col-md-2 mb-3">
                    <label for="gst_percentage">Product GST <span style="font-size: 11px;">(Enter In %)</span> </label>
                    <input type="number" name="gst_percentage" class="form-control" [(ngModel)]="formData.gst_percentage" required  />
                </div>
    
                <div class="col-md-2 mb-3">
                    <label for="discount_percentage">Product Discount <span style="font-size: 11px;">(Enter in %)</span></label>
                    <input type="number" name="discount_percentage" class="form-control" [(ngModel)]="formData.discount_percentage" required  />
                </div>
    
                <div class="col-md-6 mb-3">
                    <label for="product_care_instructions">Product Instructions <span style="font-size: 11px;">(mention like How to use/care)</span></label>
                    <input type="text" name="product_care_instructions" class="form-control" [(ngModel)]="formData.product_care_instructions" required  />
                </div>
    
                <div class="col-md-6 mb-3">
                    <label for="additional_details">Additional Details about product</label>
                    <textarea name="additional_details" class="form-control" [(ngModel)]="formData.additional_details" required ></textarea>
                </div>


                <!-- Submit Button -->
                <div class="col-md-12 mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Update Product</button>
                </div>
            </div>
        </div>
    </form>
    <!-- Product Images -->
    <div class="col-md-12 mb-3" *ngIf="canShowImages">
        <h5>Existing Images :</h5>
        <div class="row">
            <div class="col-md-2 mb-2" *ngFor="let image of productImages">
                <img [src]="image" class="img-fluid border" alt="Product Image"
                    style=" max-width: 100%;" />
            </div>
        </div>
    </div>
    <!-- Preview Selected Images -->
    <div *ngIf="selectedImagePreviews.length > 0" class="mt-3">
        <h5>Image Previews:</h5>
        <div class="row">
            <div *ngFor="let preview of selectedImagePreviews" class="col-md-2 mb-2">
                <img [src]="preview" alt="Selected Image" class="img-thumbnail" style="max-width: 100%;" />
            </div>
        </div>
    </div>
</div>
