/* Center the container and make the carousel responsive */
.carousel {
    max-width: 1100px;
    margin: 0 auto;
}


/* Styling for carousel indicators (dots) */
.carousel-indicators button {
    height: 8px;
    margin: 1px;
    background-color: #f3ca17;
}

.carousel-indicators .active {
    background-color: #ffffff;
}

/* Custom style for carousel controls (previous and next buttons) */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Button styling */
.carousel-control-prev,
.carousel-control-next {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Center the buttons vertically */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Control buttons for the left and right */
.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .carousel-inner img {
        height: 400px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        height: 40px;
        width: 40px;
    }
    .carousel-indicators button {
        height: 6px;
    }
}

@media (max-width: 576px) {
    .carousel-inner img {
        height: 300px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        height: 35px;
        width: 35px;
    }
}
