<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../../../public/css/tiny-slider.css" rel="stylesheet">
    <link href="../../../public/css/style.css" rel="stylesheet">

    <title> Furni Store </title>
</head>

<body>
    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="/images/logo.png" style="height: 100px;" alt="">
                <span>.</span></a>

            <!-- Toggle Button -->
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarsFurni"
                [attr.aria-expanded]="isNavbarCollapsed" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Menu -->
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarCollapsed }" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" [class.active]="isActive('home')" (click)="setActive('home')" routerLink="/user/home">Home</a>
                    </li>
                    <li><a class="nav-link" [class.active]="isActive('shop')" (click)="setActive('shop')" routerLink="/user/shop">Shop</a></li>
                    <li><a class="nav-link" [class.active]="isActive('about')" (click)="setActive('about')" routerLink="/user/about">About us</a></li>
                    <li><a class="nav-link" [class.active]="isActive('service')" (click)="setActive('service')" routerLink="/user/service">Services</a></li>
                    <li><a class="nav-link" [class.active]="isActive('blog')" (click)="setActive('blog')" routerLink="/user/blog">Blog</a></li>
                    <li><a class="nav-link" [class.active]="isActive('contact')" (click)="setActive('contact')" routerLink="/user/contact">Contact us</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li *ngIf="userApi.isUserLoggedIn()">
                        <a class="nav-link" routerLink="/user/profile"><img src="/images/user.svg"></a>
                    </li>
                    <li *ngIf="!userApi.isUserLoggedIn()">
                        <a class="nav-link border ps-3 pe-3" style="color: white; border-radius: 50px;"
                            routerLink="/user/login">Login / Signup</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/user/cart"><img src="/images/cart.svg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>