<div class="col-md-12">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mb-2 text-center">
            <h1>Why Choose US Points</h1>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-danger mr-2" (click)="display1()">Add Point</button>
            <button class="btn btn-danger ml-2" (click)="display2()">Show List</button>
        </div>
    </div>
</div>

<div class="col-md-12" *ngIf="addPoint">
    <form (submit)="saveData()" enctype="multipart/form-data">
        <div class="container-fluid p-3 bg-light text-center">
            <div class="row">
                <div class="col-md-4">
                    Select Image
                    <input type="file" name="why_choose_points_img" (change)="selectedImage($event)"
                        class="form-control">
                </div>
                <div class="col-md-8">
                    Enter name
                    <input type="text" name="why_choose_points_name" [(ngModel)]="formData.why_choose_points_name"
                        class="form-control">
                </div>
                <div class="col-md-12 mt-3 mb-4">
                    Details
                    <textarea name="why_choose_points_details" [(ngModel)]="formData.why_choose_points_details" rows="2"
                        class="form-control text-center"></textarea>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <button class="btn btn-warning">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid bg-white p-4" *ngIf="showList">
    <div class="row">
        <div class="col-md-12 text-center mb-3">
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Point Name</th>
                            <th>Point Details</th>
                            <th>Point Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of points; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ data.why_choose_points_name }}</td>
                            <td>
                                <textarea class="form-control" readonly rows="3" style="resize: none;">
                                    {{ data.why_choose_points_details }}
                                </textarea>
                            </td>
                            <td>
                                <img [src]="'http://localhost:1000/uploads/' + data.why_choose_points_img"
                                    alt="Customer Image" class="img-thumbnail"
                                    style="max-width: 100px; max-height: 100px;" />
                            </td>
                            <td>
                                <button (click)="get_One_Point(data.why_choose_points_id)"
                                    class="btn btn-warning btn-sm m-1" title="Edit">
                                    <i class="fa fa-pencil text-white"></i>
                                </button>
                                <button (click)="deletePoint(data.why_choose_points_id)"
                                    class="btn btn-danger btn-sm m-1" title="Delete">
                                    <i class="fa fa-trash text-white"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" *ngIf="updatePoint">
    <form (submit)="updateData()" enctype="multipart/form-data">
        <div class="container-fluid p-3 bg-light text-center">
            <div class="row">
                <div>
                    <input type="text" name="why_choose_points_id" [(ngModel)]="formData.why_choose_points_id"
                        class="form-control" style="display: none;">
                </div>
                <div class="col-md-4">
                    Select Image
                    <input type="file" name="why_choose_points_img" (change)="selectedImage($event)"
                        class="form-control">
                </div>
                <div class="col-md-8">
                    Enter name
                    <input type="text" name="why_choose_points_name" [(ngModel)]="formData.why_choose_points_name"
                        class="form-control">
                </div>
                <div class="col-md-12 mt-3 mb-4">
                    Details
                    <textarea name="why_choose_points_details" [(ngModel)]="formData.why_choose_points_details" rows="2"
                        class="form-control text-center"></textarea>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <button class="btn btn-warning">UPDATE</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="update_img">
    <img [src]="'http://localhost:1000/uploads/' + single_image" alt="Customer Image" class="img-thumbnail"
        style="max-width: 800px; max-height: 800px;" />
</div>